.acoes-principais {
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin-top: 18px;
}


.botao-principal,
.botao-secundario,
.botao-produtos {
    width: 100%;

    padding: 16px;

    border: none;
    border-radius: 16px;

    font-size: 16px;

    cursor: pointer;
}


.botao-principal {
    background: #222;
    color: white;

    font-weight: bold;
}


.botao-secundario {
    background: #dedede;
    color: #222;
}


.botao-produtos {
    margin-top: 10px;

    background: transparent;

    color: #555;

    border: 1px solid #ccc;
}


.produtos-card {
    margin-top: 12px;
}


.oculto {
    display: none;
}


.produto-cadastrado {
    display: flex;
    flex-direction: column;

    padding: 12px 0;

    border-bottom: 1px solid #eee;
}


.produto-cadastrado:last-child {
    border-bottom: none;
}


.produto-nome {
    font-weight: 600;
}


.produto-ean {
    margin-top: 3px;

    color: #888;

    font-size: 12px;
}